<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 配置分页插件 -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://11.111.46.112/sonyeoc" />
                <property name="username" value="sonyeoc" />
                <property name="password" value="sonyeoc" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--<package name="com/example/demo/mapper"/>-->
        <mapper resource="com/example/demo/mapper/ProvinceMapper.xml"/>
        <mapper resource="com/example/demo/mapper/CityMapper.xml"/>
    </mappers>


</configuration>